<md-card>
  <md-toolbar color="primary">speed-input</md-toolbar>
  <md-card-content>
    <form>
      <md-input [ngModel]="speed.scalar" (ngModelChange)="speedScalar($event)" type="number" min="0" max="1000" step="0.5" placeholder="Speed Value"></md-input>
      <md-radio-group [ngModel]="speed.unit" (ngModelChange)="speedUnit($event)">
        <md-radio-button *ngFor="let uom of speedUnits" [value]="uom">
          {{uom}}
        </md-radio-button>
      </md-radio-group>
    </form>
  </md-card-content>
</md-card>
