<md-card>
  <md-toolbar color="primary">speed-output</md-toolbar>
  <md-card-content>
    <table>
      <thead>
        <tr>
          <th>m/second</th>
          <th>m/round</th>
          <th>km/hour</th>
          <th>km/day (8h)</th>
          <th>km/day (24h)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <app-speed-output-value [from]="base" [to]="'m/s'"></app-speed-output-value>
          </td>
          <td>
            <app-speed-output-value [from]="base" [to]="'m/round'"></app-speed-output-value>
          </td>
          <td>
            <app-speed-output-value [from]="base" [to]="'km/h'"></app-speed-output-value>
          </td>
          <td>
            <app-speed-output-value [from]="base" [to]="'km/workday'"></app-speed-output-value>
          </td>
          <td>
            <app-speed-output-value [from]="base" [to]="'km/day'"></app-speed-output-value>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
