<md-card>
  <md-toolbar color="primary">speed-output</md-toolbar>
  <md-card-content>
    <table>
      <thead>
        <tr>
          <th>m/second</th>
          <th>m/round</th>
          <th>km/hour</th>
          <th>km/day (8h)</th>
          <th>km/day (24h)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <speed-output-value [from]="base" [to]="m/s"></speed-output-value>
          </td>
          <td>
            <speed-output-value [from]="base" [to]="m/round"></speed-output-value>
          </td>
          <td>
            <speed-output-value [from]="base" [to]="km/h"></speed-output-value>
          </td>
          <td>
            <speed-output-value [from]="base" [to]="km/workday"></speed-output-value>
          </td>
          <td>
            <speed-output-value [from]="base" [to]="km/day"></speed-output-value>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
