// Layout (from angular-material.scss)

$baseline-grid:            8px !default;
$layout-gutter-width:      ($baseline-grid * 2) !default;

$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;

@mixin gutter-padding($direction: all, $gutter-width: $layout-gutter-width) {

  @if $direction == tb {
    // top-bottom
    padding: ($gutter-width / 2) 0;
    @media screen and (min-width: $layout-breakpoint-sm) {
      padding: $gutter-width 0;
    }
  } @else if $direction == lr {
    // left-right
    padding: 0 $gutter-width / 2;
    @media screen and (min-width: $layout-breakpoint-sm) {
      padding: 0 $gutter-width;
    }
  } @else {
    padding: $gutter-width / 2;
    @media screen and (min-width: $layout-breakpoint-sm) {
      padding: $gutter-width;
    }
  }

}
